<div class="grid-uniform">
  {% for collection in collections %}
  {% if collection.handle == 'before' %}
     <div class="collection-product col-xs-12 col-sm-4">
     <a href="{{ collection.url }}">
     <div class="collection-image" style="background:url('{{ 'before.gif' | asset_url }}'); background-size:cover; background-position: center;"></div>
          <span class="collection-title">{{ collection.title }}</span>
          <p>{{ collection.description }}</p>
          </a>
    </div>
  {% endif %}
  {% endfor %}
  {% for collection in collections %}
    {% if collection.handle == 'during' %}
     <div class="collection-product col-xs-12 col-sm-4">
     <a href="{{ collection.url }}">
     <div class="collection-image" style="background:url('{{ 'during.gif' | asset_url }}');background-size:cover; background-position: center;"></div>
          <span class="collection-title">{{ collection.title }}</span>
          <p>{{ collection.description }}</p>
          </a>
    </div>
  {% endif %}
  {% endfor %}
{% for collection in collections %}
  {% if collection.handle == 'after' %}
     <div class="collection-product col-xs-12 col-sm-4">
     <a href="{{ collection.url }}">
     <div class="collection-image" style="background:url('{{ 'after.gif' | asset_url }}');background-size:cover; background-position: center;"></div>
          <span class="collection-title">{{ collection.title }}</span>
          <p>{{ collection.description }}</p>
          </a>
     </div>
  {% endif %}
  {% endfor %}
