<div class="grid-uniform">
  {% for collection in collections %}
  {% if collection.handle == 'before' %}
     <div class="collection-product col-xs-12 col-sm-4">
     <a href="{{ collection.url }}">
     <div class="collection-image" style="background:url('{{ 'before.gif' | asset_url }}'); background-size:cover; background-position: center;"></div>
          <span class="collection-title">{{ collection.title }}</span>
          <p>{{ collection.description }}</p>
          </a>
    </div>
  {% endif %}
  {% endfor %}
  {% for collection in collections %}
    {% if collection.handle == 'during' %}
     <div class="collection-product col-xs-12 col-sm-4">
     <a href="{{ collection.url }}">
     <div class="collection-image" style="background:url('{{ 'during.gif' | asset_url }}');background-size:cover; background-position: center;"></div>
          <span class="collection-title">{{ collection.title }}</span>
          <p>{{ collection.description }}</p>
          </a>
    </div>
  {% endif %}
  {% endfor %}
{% for collection in collections %}
  {% if collection.handle == 'after' %}
     <div class="collection-product col-xs-12 col-sm-4">
     <a href="{{ collection.url }}">
     <div class="collection-image" style="background:url('{{ 'after.gif' | asset_url }}');background-size:cover; background-position: center;"></div>
          <span class="collection-title">{{ collection.title }}</span>
          <p>{{ collection.description }}</p>
          </a>
     </div>
  {% endif %}
  {% endfor %}


  <!-- Swiper -->
  <div class="frontpage swiper-container">
    <div class="promoted-header"> new stuff! </div>
      <div class="swiper-wrapper">
          <div class="swiper-slide"><a href="{{ all_products[settings.product_slide_1].url }}"><img src="{{ 'slide1.jpg' | asset_url }}"> </a>  </div>
          <div class="swiper-slide"><a href="{{ all_products[settings.product_slide_2].url }}"><img src="{{ 'slide2.jpg' | asset_url }}"> </a> </div>
          <div class="swiper-slide"><a href="{{ all_products[settings.product_slide_3].url }}"><img src="{{ 'slide3.jpg' | asset_url }}"> </a> </div>
      </div>
  </div>
  <!-- Add Arrows -->
  <div class="arrow-container">
  <div style="background-image: url('{{ 'arrow.svg' | asset_url }}');background-size: 20px;" class="swiper-button-next-front "></div>
  <div style="background-image: url('{{ 'arrow.svg' | asset_url }}');background-size: 20px;" class="swiper-button-prev-front "></div>
</div>
