<div id="bg"> </div>
<div id="bg1"> </div>
<div id="bg2"> </div>

<div class="container">



<div class="header-text">
<span> what's your current vibe? </span>
</div>

<div class="header">
<span class="logo">  <img src="/static/images/logo.svg"></span>
</div>


<div class="grid-uniform">


  {% for collection in collections %}


  {% if collection.handle == 'before' %}
     <div class="collection-product">
          <h1>{{ collection.title }}</h1>
          <p>{{ collection.description }}</p>
          <a class="shop-cta shop-button" href="{{ collection.url }}">
              View all products in this collection
          </a>
    </div>
  {% endif %}

  {% endfor %}

  {% for collection in collections %}

    {% if collection.handle == 'during' %}
     <div class="collection-product">
          <h1>{{ collection.title }}</h1>
          <p>{{ collection.description }}</p>
          <a class="shop-cta shop-button" href="{{ collection.url }}">
              View all products in this collection
          </a>
    </div>
  {% endif %}

  {% endfor %}

   {% for collection in collections %}

    {% if collection.handle == 'after' %}
     <div class="collection-product">
          <h1>{{ collection.title }}</h1>
          <p>{{ collection.description }}</p>
          <a class="shop-cta shop-button" href="{{ collection.url }}">
              View all products in this collection
          </a>
    </div>
  {% endif %}

  {% endfor %}
